{
    email info@vot.wtf
}

vot.wtf {
    tls /etc/caddy/certs/cloudflare.crt /etc/caddy/certs/cloudflare.key
    reverse_proxy vot-frontend:3000 {
        header_up X-Forwarded-For {remote_host}
    }
}

api.vot.wtf {
    tls /etc/caddy/certs/cloudflare.crt /etc/caddy/certs/cloudflare.key
    reverse_proxy vot:8000 {
        header_up X-Forwarded-For {remote_host}
    }
}

http://vot.wtf, http://api.vot.wtf {
    redir https://{host}{uri}
}
