{
    email info@vot.wtf
}

vot.wtf {
    tls /etc/caddy/certs/cloudflare.crt /etc/caddy/certs/cloudflare.key  # Cloudflare Origin Cert and Private Key
    reverse_proxy vot-frontend:3000
}

api.vot.wtf {
    tls /etc/caddy/certs/cloudflare.crt /etc/caddy/certs/cloudflare.key  # Cloudflare Origin Cert and Private Key
    reverse_proxy vot:8080
}


http://vot.wtf, http://api.vot.wtf {
    redir https://{host}{uri}
}
