.createEmbedButton {
  margin-left: -2%;
}

.parent {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
}

/*noinspection ALL*/
@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Whitney-Bold.woff");
}

/*noinspection ALL*/
@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Whitney-Medium.woff");
}

.embed {
  display: grid;
  max-width: 520px;
  border-left: 4px solid #202225;
  background: #2f3136;
  color: #fff;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
}

.embedContent {
  padding: 0.5rem 1rem 1rem 0.75rem;
  display: inline-grid;
  grid-template-columns: auto;
}

.author {
  font-size: 0.875rem;
  font-weight: 600;
  min-width: 0;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  grid-column: 1 / 2;
  margin: 8px 0 0;
}

.authorText {
  color: rgb(255, 255, 255);
  white-space: pre-wrap;
  display: inline-block;
}

.provider {
  line-height: 1rem;
  font-weight: 400;
  grid-column: 1/1;
  margin-top: 8px;
  outline: 0;
}

.providerText {
  color: #b9bbbe;
  font-size: 0.75rem;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  grid-column: 1/1;
  margin-top: 8px;
}

.titleText {
  word-break: break-word;
}

.image {
  margin-top: 16px;
  display: block;
  border-radius: 4px;
}

.description {
  color: #dcddde;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  white-space: pre-line;
  grid-column: 1/1;
  margin-top: 8px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-row: auto/auto;
  grid-column: 1/1;
}

.footerText {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
  color: #dcddde;
}
